.nav-container ul {
    width: 15vw;
}

main {
    height: 70vh;
    width: 80vw;
    gap: 100px;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30vw;
}

.event-img {
    height: auto;
    width: 100%;
    margin: 0 20px 50px 0;
    border-radius: 20px;
}

#title-category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}