/*General Setting*/
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

/*Managing the background and putting the main center*/
#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #141122;
    color: #CDC2F5;
}

/*Difining the size of the main and centering the elements*/
main {
    display: flex;
    align-items: center;
    height: 53.8%;
    width: 79.2%;
    border: 2px solid #fff;
    border-radius: 50px;
}

/*Add the login img*/
#login-img {
    height: 98.9%;
    width: 48%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/*Add style to the login section*/
section {
    height: 100%;
    width: 50%;
    padding: 100px;
}

/*Displaying the inputs in rows*/
section, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*General log in settings*/
h1 {
    font-size: 40px;
}

form {
    height: 100%;
    width: 100%;
}

/*Add style to inputs and button*/
input, #button {
    height: 12%;
    width: 100%;
    border: 1px solid #CDC2F5;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: #CDC2F5;
    font-size: 24px;
    margin-top: 30px;
    padding-left: 20px;
}

#button {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 10px;
}

#button p {
    height: 50%;
    width: 100%;
    text-align: center;
}

#button:hover {
    border: 1px solid #141122;
    background-color: #CDC2F5;
    color: #141122;
}

/*Add style to screen less than 750px*/
@media (max-width: 750px) {
    section {
        padding: 40px;
        width: 100%;
    }
    #login-img {
        display: none;
    }
}