main {
    flex-direction: column;
    width: 60vw;
    margin: 0 10%;
    border: 2px solid #CDC2F5;
    border-radius: 50px;
}

main, aside {
    display: flex;
    height: 70vh;
    align-items: center;
}

#personal-info, #change-info, #buttons, #inputs {
    display: flex;
}

.event-img {
    height: 300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #CDC2F5;
    border-radius: 0;
}

#personal-info article {
    margin: 50px 100px;
}

#anchors-container {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

#personal-info a, #change-info a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 225px;
    background-color: #090715;
    border: 2px solid #CDC2F5;
    border-radius: 30px;
}

#change-info {
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

#buttons, #inputs {
    flex-direction: column;
    gap: 50px;
}

form input {
    font-size: 24px;
    height: 65px;
    width: 225px; 
    background-color: rgba(0, 0, 0, 0);
    color: #CDC2F5;   
    border: 2px solid #CDC2F5;
    border-radius: 30px;
    width: 91%;
    padding: 0 30px;
}

form  div input {
    width: auto;
}

input[type=number] {
  -moz-appearance: textfield;
}