main {
    flex-direction: column;
    width: 60vw;
    margin: 0 10%;
    border: 2px solid #CDC2F5;
    border-radius: 50px;
}

main, aside {
    display: flex;
    height: 70vh;
    align-items: center;
}

#personal-info {
    display: flex;
}

.event-img {
    height: 300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #CDC2F5;
    border-radius: 0;
}

#personal-info article {
    margin: 50px 100px;
}

#anchors-container {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

#personal-info a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 225px;
    background-color: #090715;
    border: 2px solid #CDC2F5;
    border-radius: 30px;
}