/*General Setting*/
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #141122;
    color: #CDC2F5;
    font-size: 24px;
}

ul li {
    list-style: none;
}

.header-nav, .nav-element, .main-stadistics, #bars, #line, .events-container, .event, .event-img, #add-event-container{
    background-color: #090715;
    border: 2px solid #CDC2F5;
    border-radius: 50px;
}

.nav-container {
    padding: 20px;
    border: 2px solid #CDC2F5;
    border-radius: 50px;
}

.nav-icon-img {
    height: 50px;
    width: 50px;
}

a {
    text-decoration: none;
    color: #CDC2F5;
}

.selected a, .selected {
    background-color: #CDC2F5;
    color: #090715;
}

.main-stadistics {
    padding: 25px;
}

/*Header nav*/
header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 35.33vw;
}

header ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7.64vh;
    width: 11.90vw;
    border-radius: 100px;
}

/*main*/
#main {
    display: flex;
    width: 100vw;
}

/*aside nav*/
#main aside .nav-container {
    height: 45.82vh;
    width: 6vw;
    margin-left: 50px;
}

#main aside .nav-container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-element, #add-event-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9.16vh;
    width: 5vw;
    border-radius: 50%;
}

/*main*/
main {
    display: flex;
    padding: 5.59vh 0 0 5vw;
}
#first-big-section {
    display: flex;
    flex-direction: column;
    margin-right: 3vw;
}

#totals {
    display: flex;
    justify-content: space-between;
    width: 42.74vw;
    margin-bottom: 5vh;
}

#totals .main-stadistics {
    height: 18vh;
}

#categories-last-events {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
}