/*General Setting*/
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 59px;
    background-color: #141122;
    color: #CDC2F5;
    font-size: 24px;
}

ul li {
    list-style: none;
}